<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Username" value="{{ request.GET.q }}"/>
        <input type="submit" value="Search"/>
    </form>

    <h1>All Activity</h1>
    {% if queryset_checkedin%}
        <h3>Checked in Users</h3>
            <ul>
                {% for obj in queryset_checkedin %}
                    <li>{{ obj.user.username }} - {{ obj.timestamp | timesince }} </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if queryset_checkedout %}
        <h3>Checked out Users</h3>
            <ul>
                {% for obj in queryset_checkedout %} 
                    <li>{{ obj.user.username }} - {{ obj.timestamp | timesince }} </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if unknown %}
        <h3>Inactive Users</h3>
            <ul>
                {% for obj in inactive_users %}
                    <li>{{ obj.username }} </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if all_activity %}
        <h3>All Activities</h3>
            <ul>
                {% for obj in all_activity %}
                    <li>{{ obj.user.username }} - {{obj.activity}} - {{ obj.timestamp | timesince }} </li>
                {% endfor %}
            </ul>
    {%endif%}
</body>
</html>

"queryset_checkedin":queryset_checkedin,
            "queryset_checkedout":queryset_checkedout,
            "inactive_users": unknown,