    {% extends "base.html" %}
    
    {% block content %}
    <h1>All Activity</h1>
    <form method="GET" action="">
        <input class="form-control" type="text" name="q" placeholder="Username" value="{{ request.GET.q }}"/>
        <br>
        <input class="btn btn-secondary"  type="submit" value="Search"/>
    </form>
    <br>
    {% if queryset_checkedin%}
        <h3>Checked in Users</h3>
            <ul>
                {% for obj in queryset_checkedin %}
                    <li>{{ obj.user.username }} - {{ obj.timestamp | timesince }} </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if queryset_checkedout %}
        <h3>Checked out Users</h3>
            <ul>
                {% for obj in queryset_checkedout %} 
                    <li>{{ obj.user.username }} - {{ obj.timestamp | timesince }} </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if unknown %}
        <h3>Inactive Users</h3>
            <ul>
                {% for obj in inactive_users %}
                    <li>{{ obj.username }} </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% if all_activity %}
        <h3>All Activities</h3>
            <ul>
                {% for obj in all_activity %}
                    <li>{{ obj.user.username }} - {{obj.activity}} - {{ obj.timestamp | timesince }} </li>
                {% endfor %}
            </ul>
    {%endif%}
    {% endblock %}